
mat-form-field,
textarea {
    width: 100%;
}
mat-error {
    margin: 6px;
    font-size: 75%;
}

mat-spinner {
    margin: auto;
}
input[type="file"] {
    visibility: hidden;
}
.image-review {
    height: 5rem;
    margin: 1rem, 0 ;
}
.image-review img {
    height: 100%;
}
.space {
    margin-top: 1rem;
}